li a {
    color: green;
    font-size: 3em;
}

body {
    margin:0;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/aug7noiseIG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-text {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9); /* Mostly opaque white background */
  padding: 20px; /* Add padding for better visibility of the background */
  border-radius: 10px; /* Add rounded corners to the background */
  list-style: none;
}
